@import './config.css';

html {
  height: 100%;
  width: 100%;
  background: theme("colors.light");
}

body {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

.os {
  -webkit-overflow-scrolling: touch;
}

.vb {
  backdrop-filter: blur(20px);
}

.gb {
  background:
    linear-gradient(-90deg,rgba(63, 59, 56, 0.08) 1px,transparent 1px),
    linear-gradient(rgba(63, 59, 56, 0.08) 1px, transparent 1px), transparent;
  background-size: 8px 8px;
}

.ia {
  @apply transition-opacity hover:opacity-60;
}
