@import "tailwindcss";

@font-face {
  font-family: "NotoMono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansMono-Regular.ttf") format("truetype");
}

@theme {
  --breakpoint-tab: 640px;
  --breakpoint-note: 1025px;

  --font-sans: "NotoMono", sans-serif;
  --text-base: 0.8rem;
  --text-sm: 0.7rem;
  --text-xs: 0.6rem;

  --color-transparent: transparent;
  --color-dark: #3f3b38;
  --color-light: #a9a293;

  --default-transition-duration: 200ms;

  --animate-fade: fade 1000ms both ease-in-out;

  @keyframes fade {
    0% {
      opacity: 0%;
      transform: translateY(100%);
    }

    25% {
      opacity: 100%;
      transform: translateY(0);
    }

    75% {
      opacity: 100%;
      transform: translateY(0);
    }

    100% {
      opacity: 0%;
      transform: translateY(100%);
    }
  }
}

@layer base {
  html {
    height: 100%;
    width: 100%;
    background: theme("colors.light");
  }

  body {
    height: 100%;
    width: 100%;
  }

  button {
    cursor: pointer;
  }

  img,
  video {
    font-size: 0;
  }
}

@layer components {
  .os {
    -webkit-overflow-scrolling: touch;
  }

  .vb {
    backdrop-filter: blur(20px);
  }

  .gb {
    background:
      linear-gradient(-90deg, rgba(63, 59, 56, 0.08) 1px, transparent 1px),
      linear-gradient(rgba(63, 59, 56, 0.08) 1px, transparent 1px), transparent;
    background-size: 8px 8px;
  }

  .ia {
    @apply transition-[opacity,background,color] hover:opacity-60;
  }
}

@layer utilities {
  .p-safe {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .py-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pl-safe {
    padding-left: env(safe-area-inset-right);
  }

  .m-safe {
    margin: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  .mx-safe {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }

  .my-safe {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
  }

  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }

  .mr-safe {
    margin-right: env(safe-area-inset-right);
  }

  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }

  .ml-safe {
    margin-left: env(safe-area-inset-right);
  }

  .top-safe {
    top: 0;
    top: env(safe-area-inset-top);
  }

  .right-safe {
    right: 0;
    right: env(safe-area-inset-right);
  }

  .bottom-safe {
    bottom: 0;
    bottom: env(safe-area-inset-bottom);
  }

  .left-safe {
    left: 0;
    left: env(safe-area-inset-right);
  }
}
